[submodule "apriltags2_ros"]
	path = apriltags2_ros
	url = https://github.com/caioaamaral/apriltags2_ros
[submodule "kinova-ros"]
	path = kinova-ros
	url = https://github.com/Brazilian-Institute-of-Robotics/kinova_b
