<robot name="shadded_box">
    <link name="box">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://kinova_description/meshes/shadded_box.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://kinova_description/meshes/shadded_box.dae"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="0.000000 0.000000 0.000000"/>
            <mass value="35.336455"/>
            <inertia ixx="1.849155" ixy="-0.000354" ixz="-0.154188" iyy="1.662671" iyz="0.003292" izz="0.802239"/>
        </inertial>
    </link>
</robot>